.home-container {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-logout {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #ef4444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn-logout:hover {
  background: #dc2626;
}